{% extends ''base.html" %}

{% block content %}
<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">

        <div class="card" id="chat1" style="border-radius: 15px;">
          <div
            class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
            style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
            <i class="fas fa-angle-left"></i>
            <p class="mb-0 fw-bold">Live chat</p>
            <i class="fas fa-times"></i>
          </div>
          <div class="card-body">

            <div class="d-flex flex-row justify-content-start mb-4">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                alt="avatar 1" style="width: 45px; height: 100%;">
              <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                <p class="small mb-0">Hello and thank you for visiting MDBootstrap. Please click the video
                  below.</p>
              </div>
            </div>

{% if message_ %}
            <div class="d-flex flex-row justify-content-end mb-4">
              <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                <p class="small mb-0">{{ message_ }}</p>
<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                alt="avatar 1" style="width: 45px; height: 100%;">
            </div>
</div>
{% endif %}

<i id="spinner" class="htmx-indicator fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only"> Loading...</span>
			

<div id="results">
			{% include "ai_response.html" %}
		</div>

        <form class="" hx-post="{% url 'chatbot' %}" hx-target="#results" hx-trigger="keyup[key === 'Enter' && !shiftKey]" hx-include="#question-text-area" hx-swap="afterbegin scroll:bottom" hx-push-url="true" hx-indicator="#spinner" method="post">
			{% csrf_token %}
            <div class="form-outline">
              <textarea name="message" class="form-control" id="question-text-area" id="textAreaExample" rows="4"></textarea>
              <label class="form-label" for="textAreaExample">Type your message</label>
            </div>


<div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                alt="avatar 3" style="width: 40px; height: 100%;">
              <input name="message" type="text" class="form-control form-control-lg" id="exampleFormControlInput3"
                placeholder="Type message">
              <button class="ms-3 link-info" type="submit"><i class="fas fa-paper-plane"></i></button>
            </div>
         
</form>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>
{% endblock content %}