{% extends "base.html" %}

{% block content %}


<div class="p-5 text-center mt-5" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
<div class="container mt-5 mb-5">
<br/>
<br/>
{% if user.is_authenticated %}
<div class="container">
<div class="row text-center">
	<div class="mt-5 mb-4">
		<h1 class="text-white">Welcome {{user.username}}!</h1>
		<br/>
		<a class="btn btn-outline-warning me-2"  href="{% url 'chatbot_page' %}" role="button">Start chatting!</a>
		<a class="btn btn-outline-dark me-2"  href="{% url 'logout' %}" role="button">Logout</a>
		{% else %}
		<a class="btn btn-outline-success me-2"  href="{% url 'register' %}" role="button">Sign Up</a>
		<a class="btn btn-outline-primary me-2"  href="{% url 'login' %}" role="button">Login</a>
		{% endif %}

</div>
</div>			
</div>
</div>
</div>
{% endblock content %}
